.background{
  background-image: url("hotel.gif");
  background-size: cover;
  background-position: center;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  flex-direction: column;

}


  h1 {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;

  }
img{
  height: 100px;
  width: 200px;
}

.buttonhomepage{

  
}
