.container{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  flex-direction: column;
}

#country {
  width: 308px;
  height: 33px;
}
