<div class="container">
  <div class="background">
    <div class="logo">
      <%= image_tag "Gold Modern Luxury Building Logo Design .jpg"  %>
    </div>
      <h1>Une GRANDE chambre à prix mini</h1>



      <%= button_to "Voir hotels", hotels_index_path, method: :post, class: "buttonhomepage" %>
  </div>
</div>
